.userPages{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: #18191D;
    position: relative;
}
.userPages__top-name {
  
}
.userPages__top{
    width: 100%;
    position: fixed;
    background-color: #282E33;
    padding: 10px 20px;
}